# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDEs and editors
.idea/
.vscode/
*.swp
*~
*.bak
*.cache
*.project
*.pydevproject

# Environment
.env
venv/
ENV/
env/
venv2/
venv3/
env2/
env3/

# Jupyter Notebook
.ipynb_checkpoints/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~

# Python log files
*.log

#Pyinstaller
dist/
build/
*.spec

